/* Styles généraux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Style du corps de la page */
body {
  background-color: #6c4949;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

/* Style pour l'en-tête */
header {
  background-color: #333;
  color: #1b28d5;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

/* Style pour la section des projets */
section {
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
  font-size: 2em;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

section ul {
  list-style-type: none;
}

section ul li {
  margin: 10px 0;
}

section ul li a {
  color: #3498db;
  text-decoration: none;
  font-size: 1.2em;
}

section ul li a:hover {
  text-decoration: underline;
}

/* Style du pied de page */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 1em;
}

footer p a {
  color: #3498db;
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}
